// Media Quries
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

$dpi: 144dpi;
$dppx: 1.5dppx;

// Measurement
$padding: 0 30px;

// Colors
$black: #000000;

$white: #ffffff;
$coffeemilk: #f1f1f1;
$dim-white: rgba(255, 255, 255, 0.3);
$silver: rgba(68, 68, 68, 0.3);
$whitesmoke: rgba(68, 68, 68, 0.1);

$grey: rgba(0, 0, 0, 0.6);
$light-gray: rgba(0, 0, 0, 0.3);
$very-light-gray: #f9f9f9;
$dark-gray: #444444;

$tiffany: #63d1bb;
$light-tiffany: #59d5bc;
$semi-dark-tiffany: #56c3b2;
$dark-tiffany: #46c1ae;
$dim-tiffany: rgba(99, 209, 197, 0.3);

$dark-cyan: rgba(20, 144, 128, 0.5);
$dim-cyan: rgba(20, 144, 128, 0.3);
