// CONTAINERS
@mixin container {
  min-width: 320px;
  margin: 0 auto;
  padding: $padding;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

@mixin container-fluid {
  width: auto;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 87%; // conatiner width / viewport width
    max-width: 960px;
  }

  @media (min-width: $desktop-width) {
    width: 91%; // conatiner width / viewport width
    max-width: 1150px;
  }
}

// BUTTONS
@mixin button {
  display: block;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $dark-gray;
  text-transform: uppercase;
  background-color: $white;
  border: 2px solid $dark-gray;
  cursor: pointer;
}

// VISUALLYHIDDEN
@mixin visuallyhidden {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

// ZIZ-ZAG LINE
@mixin zig-zag {
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: 0 100%;
  background-size: auto 7px;
  background-repeat: repeat-x;

  @media (min-width: $tablet-width) {
    background-size: auto 17px;
  }
}
